.text-center.text-gray-600.text-lg Redirecting...
= button_to 'Login', '/auth/auth0', |
  method: :post,                    |
  class: "hidden",                  |
  id: 'redirect'                    |
:javascript
  document.getElementById('redirect').form.submit()
%noscript
  :css
    #redirect { display: block !important; }
    .text-center.text-gray-600 { display: none; }
