.space-y-4
  .flex.items-center.justify-between
    %h1.text-2xl.font-bold Add Receipt
  .space-y-4
    .container.mx-auto.border.p-4.rounded-lg
      = render "new_receipt_form"
    .container.mx-auto.border.p-4.rounded-lg
      %h1.text-2xl.font-bold Your receipts

      = render "shared/components/search", path: receipts_path
      - @receipts.each do |receipt|
        = render "receipt_list_item", receipt: receipt

      - if @pagy.pages > 1
        .flex.justify-center.space-x-2.my-4
          = pagy_nav(@pagy).html_safe
